body{
	margin: 0;
	padding: 0;
}
header{
	padding: 15px 0px;
	/*border: 1px solid red;*/
}
.container {
	width: 75%;
	/*border: 1px solid red;*/
	margin: 0 auto;
	overflow: hidden;
}

.logo {
	width: 17%;
	/*border: 1px solid red;*/
	float: left;
}
.logo img{
	width: 100%;
}

.menu {
	width: 80%;
	/*border: 1px solid red;*/
	float: right;
	margin-top: 2px;
}
.menu ul{
	float: right;

	
}
.menu ul li{
	float: left;
	list-style: none;

}
.menu ul li a{
	font-family: poppins;
	font-size: 16px;
	font-weight: 500;
	color: black;
	text-decoration: none;
	padding: 0px 10px;
	display: inline-block;
	transform: .3s;
}
.menu ul li:last-child a{
	padding-right: 0;
}
.menu ul li:hover a{
	color: #BB2135;
}
/*banner start*/
.banner{
	background-image: url(../images/business.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-position: top center;
	/*min-height: 450px;*/
}
.b_content{
	width: 50%;
	/*border: 1px solid white;*/
	margin: 100px 0;
}
.b_content h1{
	font-family: sans-serif;
	font-size: 56px;
	font-weight: 700;
	color: white;
	margin-top:  0;
	margin-bottom: 25px;
}
.b_content p{
	font-family: sans-serif;
	font-size: 17px;
	font-weight: 400;
	color: white;
	margin-top:  0;
	margin-bottom: 15px;
}
.b_content button{
	min-width: 260px;
	height: 50px;
	background-color: #C12442;
	border: none;
	font-family: sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: white;
	text-transform: uppercase;
	margin-top: 30px;
	cursor: pointer;
}
.b_content button:focus{
	outline: 0;
}
/*banner end*/
/*how it works start*/
.how_it_works{
	padding: 100px 0;
}
/*1st part*/
.first_part{
	font-family: sans-serif;
	width: 70%;
	/*border: 1px solid red;*/
	margin: 0 auto;
	margin-bottom: 70px;
}
.first_part h1{
	width: 30%;
	text-transform: uppercase;
	margin: 0 auto;
}
.first_part p{
	color: #A7A8A7;
	width: 100%;
	text-align: center;
}
/*second part*/
.second_part{}
/*single start*/
.single_item{
	width: 23%;
	/*border: 1px solid red;*/
	text-align: center;
	padding: 0 2%;
	float: left;
	margin: 0 3.16%;
}
.single_item img{
	width: 50%;
}
.single_item p{
	font-family: sans-serif;
	font-size: 17px;
	font-weight: 550;
	color: #292929;
	text-transform: capitalize;
	
}
/*single end*/

/*how it works end*/
/*learn how start*/
.learn_how{
	margin-bottom: 100px;
	overflow: hidden;
}
.details{
	font-family: sans-serif;
	width: 45%;
	/*border: 1px solid red;*/
	float: left;
}
.details h1{
	text-transform: uppercase;
}
.details p{
	font-size: 17px;
	color: #A7A8A7;
}
.details button{
	width: 125px;
	min-height: 40px;
	text-transform: uppercase;
	color: white;
	background-color: #C12442;
	cursor: pointer;
	border: none;
}
.details button:focus {
	outline: 0
}

.media{
	/*border: 1px solid green;*/
	float: right;
	cursor: pointer;
}
.media video:focus{
	outline: 0;
}
/*learn how end*/
/*features start*/
.features{
	margin-bottom: 100px;
}
.section_heading{
	width: 70%;
	font-family: sans-serif;
	/*border: 1px solid red;*/
	text-align: center;
	margin: 0 auto;
	margin-bottom: 70px;
}
.section_heading h1{
	text-transform: uppercase;
}
.section_heading p{
	color: #A7A8A7;
}
.whole_row{
	/*border: 1px solid red;*/
}
/*first row start*/
/*item1 start*/
.first_row{
	overflow: hidden;
	/*border: 1px solid red;*/
}
.item1{
	font-family: sans-serif;
	/*border: 1px solid red;*/
	width: 30%;
	text-align: center;
	float: left;
	padding: 1.07%;
    margin: 0.5%;
}
.item1 img{
	width: 30%;
}
.item1 h2{
	font-weight: 550;
	text-transform: capitalize;
}
.item1 p{
	font-size: 17px;
	color: #A7A8A7;
}

/*item1 end*/
/*first row end*/
.second_row{
	overflow: hidden;
	margin: 40px 0;
	/*border: 1px solid red;*/
}
.see_all{
	width: 25%;
	min-height: 45px;
	/*border: 1px solid red;*/
	margin: 0 auto;
	margin-top: 55px;
	margin-bottom: 70px;
}
	

	
.see_all button{
	width: 100%;
	min-height: 45px;
	font-family: sans-serif;
	text-transform: uppercase;
	color: white;
	background-color: #C12442;
	cursor: pointer;
	border: none;
}
.see_all button:focus{
	outline: 0;
}
/*features end*/
/*contact start*/
.contact {
	background-color: #09090A;
	min-height: 300px;
	margin: 100px 0;

}
.contact_us {
	width: 30%;
	/*border: 1px solid red;*/
	min-height: 200px;
	float: left;

}
.contact_us h3, .useful h3, .our h3{
	font-family: sans-serif;
	text-transform: uppercase;
	color: #C12442;

}
.all {
	/*border: 1px solid red;*/
}

.phone {
	/*border: 1px solid red;*/
	overflow: hidden;
}
.img img {
	width: 14%;
	/*border: 1px solid red;*/
	float: left;
}
.p{
	padding: 0 5px;
}
.p p {
	width: 100%;
	font-family: sans-serif;
	color: #A7A8A7;
	font-weight: 500;
	margin: 10px 0;
	padding: 0 5px;
}
.all_2{
	width: 70%;
	/*border: 1px solid red;*/
	overflow: hidden;
}
.icons{
	width: 10%;
	/*border: 1px solid red;*/
	float: left;
	padding: 0 9px;
}
.icons img{
	width: 100%;
}
.useful{
	/*border: 1px solid red;*/
	width: 30%;
	float: left;
}
.useful h1{}
.useful ul{}
.useful ul li{
	font-family: sans-serif;
	font-weight: 500;
	text-transform: capitalize;
	color: #A7A8A7;
	transition: .3s;

}
.useful ul li:hover{
	color: #C12442;
	cursor: pointer;
}
.our{
	/*border: 1px solid red;*/
	width: 30%;
	float: left;
}
.our h1{}
.our p{
	font-family: sans-serif;
	color: #A7A8A7;
	font-weight: 500;
}
.buttons{
	width: 100%;

}
#btn1{
	width: 45%;
	min-height: 45px;
	font-family: sans-serif;
	text-align: left;
	text-transform: uppercase;
	color: white;
	background-color: #09090A;
	cursor: text;
	border: 1px solid grey;
}


#btn2{
	width: 40%;
	min-height: 45px;
	font-family: sans-serif;
	text-transform: uppercase;
	color: white;
	background-color: #C12442;
	cursor: pointer;
	border: none;
}

/*contact end*/

.our button:focus{
	outline: 0;